In [4]:
import pandas as pd

In [5]:
a=[1,2,3,4,5,6,7,8,9]

In [8]:
pd.Series(a)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [21]:
a={'ashwin':'Muthiah',"ajith":"Venkatesulu","gowthem":"genepure"}
s= pd.Series(a)
s

ashwin         Muthiah
ajith      Venkatesulu
gowthem       genepure
dtype: object

In [22]:
s.index

Index(['ashwin', 'ajith', 'gowthem'], dtype='object')

In [27]:
s.iloc[2]

'genepure'

In [29]:
s['ashwin']

'Muthiah'

In [30]:
s[0]

'Muthiah'

In [31]:
b={99:'ashwin',100:"muthiah",101:"rock"}

In [32]:
b[0]

KeyError: 0

In [33]:
b[99]

'ashwin'

In [34]:
c=pd.Series(b)

In [35]:
c

99      ashwin
100    muthiah
101       rock
dtype: object

In [36]:
s[0]

'Muthiah'

In [39]:
c.iloc[0]

'ashwin'

In [42]:
c

99      ashwin
100    muthiah
101       rock
dtype: object

In [43]:
c.loc[99]

'ashwin'

In [44]:
c.iloc[0]

'ashwin'

In [45]:
import numpy as np

In [53]:
s=pd.Series(np.random.randint(1,1000,10000))

In [54]:
s

0       577
1        99
2       615
3       796
4       939
5       159
6       643
7       801
8       318
9       774
10      254
11      385
12      811
13      567
14      141
15      606
16      651
17      749
18      738
19      937
20       19
21      617
22      863
23      307
24      254
25      801
26      760
27      292
28      599
29      419
       ...
9970    580
9971    988
9972    465
9973    612
9974    634
9975    742
9976     90
9977    716
9978    276
9979    391
9980    987
9981    401
9982    352
9983    947
9984    105
9985    320
9986    433
9987     85
9988    118
9989    305
9990    689
9991    442
9992    418
9993    889
9994    817
9995    679
9996    239
9997    310
9998     58
9999    104
Length: 10000, dtype: int32

In [56]:
%%timeit -n 100
sum=0
for i in s:
    sum=sum+i

1.55 ms ± 38.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [57]:
%%timeit -n 100
a=np.sum(s)

193 µs ± 52.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [58]:
sunject={1:"a",2:"b"}
a=pd.Series(sunject)

In [59]:
a

1    a
2    b
dtype: object

In [63]:
a.loc[3]='c'

In [64]:
a

1    a
2    b
3    c
dtype: object

In [67]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})

In [68]:
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])

In [69]:
all_countries = original_sports.append(cricket_loving_countries)

In [70]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [71]:
all_countries.iloc[1]

'Scotland'

In [74]:
all_countries.loc["Cricket"]

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object